<template>
  <div class="sidenav">
    <nav>
    <a href=""><button @click="goToArticls">Articles</button></a>
    <a href=""><button @click="goToShopPets">Shop Pets</button></a>    
    <a href=""><button @click="goToShopProducts">Shop Products</button></a>    
    <a href=""><button @click="goToBuildings">Buildings</button></a>
    <a href=""><button @click="goToPending">Basket</button></a>
    <a href=""><button @click="logout">Log Out</button></a>
  </nav>
  </div>
  <div class="articls">
    <div class="articles">
  <div class="header">
    <h1>Articles</h1>
    <button @click="showCreateArticleForm = true">Create Article</button> 
  </div>

  <div v-if="showCreateArticleForm" class="create-article-form">
    <input type="text" v-model="newArticle.title" placeholder="Name">
    <textarea v-model="newArticle.content" placeholder="Description"></textarea>
    <input type="file" @change="onFileSelected"> 
    <button @click="createArticle">Create</button>
    <button @click="showCreateArticleForm = false">Cancel</button>
  </div>

  <div v-if="showEditForm" class="edit-article-form">
  <input type="text" v-model="editableArticle.title" placeholder="Заголовок">
  <textarea v-model="editableArticle.content" placeholder="Содержание"></textarea>
  <input type="file" @change="onFileSelected">
  <button @click="updateArticle">Save</button>
  <button @click="showEditForm = false">Cancel</button>
</div>


</div>

    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Content</th>
      <th>Photo</th>
      <th>Date published</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="article in articles" :key="article.id">
      <td>{{ article.id }}</td>
      <td>{{ article.title }}</td>
      <td>{{ article.content }}</td>
      <td>
        <img :src="article.photo" alt="Article Photo" class="article-photo">
      </td>
      <td>{{ formatDateString(article.published_date) }}</td>
      <td>  <button @click="editArticle(article)">Edit</button>
            <button @click="deleteArticle(article.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</template>

<script>
import axios from './axios';

export default {
  data() {
    return {
      articles: [],
      showCreateArticleForm: false, 
      newArticle: {
        title: '',
        content: '',
      },showEditForm: false,
        editableArticle: {
        title: '',
        content: ''
        },
        selectedFile: null,
      }
  },
  created() {
    this.fetchArticles();
  },
  methods: {
    logout() {
      this.$root.logout();
      localStorage.removeItem('authToken');
      this.$router.push('/login');
    },
    goToArticls() {
      this.$router.push({ name: 'Articls' });
    },goToBuildings() {
      this.$router.push({ name: 'Buildings' });
    },beforeMount() {
    if (!localStorage.getItem('authToken')) {
      this.$router.push('/login');
    }},goToPending() {
      this.$router.push({name: 'Pending'});
    },goToShopPets() {
      this.$router.push({ name: 'ShopPets' });
    },goToShopProducts() {
      this.$router.push({ name: 'ShopProducts' });
    },
    async fetchArticles() {
      try {
        const response = await axios.get('https://mamyq.xyz/api/article/', {
          headers: {
          'Content-Type': 'application/json',
        }});this.articles = response.data;
        } catch (error) {
        console.error('Error', error);
      }
    },
    async deleteArticle(articleId) {
    if (confirm('Are you sure?')) { 
      try {
        await axios.delete(`https://mamyq.xyz/api/article/${articleId}/`);
        this.articles = this.articles.filter(article => article.id !== articleId);
        alert('Deleted');
      } catch (error) {
        console.error('Error', error);
        alert('Error');
      }
    }
  },
  async createArticle() {
    const formData = new FormData();
    formData.append('title', this.newArticle.title);
    formData.append('content', this.newArticle.content);
    if (this.selectedFile) {
      formData.append('photo', this.selectedFile, this.selectedFile.name);
    }

    try {
      const response = await axios.post('https://mamyq.xyz/api/article/', formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
        }
      });
      this.articles.unshift(response.data);
      this.showCreateArticleForm = false;
      this.resetNewArticleForm(); 
      alert('Succes');
    } catch (error) {
      console.error('Error', error);
      alert('Error');
    }
  },editArticle(article) {
    this.editableArticle = { ...article };
    this.showEditForm = true;
  },
  async updateArticle() {
  const formData = new FormData();
  formData.append('title', this.editableArticle.title);
  formData.append('content', this.editableArticle.content);
  if (this.selectedFile) {
    formData.append('photo', this.selectedFile, this.selectedFile.name);
  }

  try {
    await axios.put(`https://mamyq.xyz/api/article/${this.editableArticle.id}/`, formData, {
      headers: {
        'Content-Type': 'multipart/form-data',
      }
    });
    this.showEditForm = false;
    this.fetchArticles();
    alert('Succes');
  } catch (error) {
    console.error('Error', error);
    alert('Error');
  }
},
  formatDateString(dateString) {
    const date = new Date(dateString);
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    const hours = String(date.getHours()).padStart(2, '0');
    const minutes = String(date.getMinutes()).padStart(2, '0');

    return `${year}-${month}-${day} ${hours}:${minutes}`;
  },
  onFileSelected(event) {
    this.selectedFile = event.target.files[0];
  },
  resetNewArticleForm() {
    this.newArticle = {
      title: '',
      content: '',
    };
    this.selectedFile = null;
  },
  }
};
</script>
<style>
.sidenav {
  height: 100%;
  width: 200px; 
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #ddd;
  display: block;
  transition: color 0.3s, background-color 0.3s;
}

.sidenav a:hover {
  color: #fff;
  background-color: #495057;
}

.articls {
  margin-left: 200px; 
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 20px;
}

td, th {
  border: 1px solid #dee2e6;
  text-align: left;
  padding: 12px;
}

th {
  background-color: #f8f9fa;
  color: #343a40;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.create-article-form, .edit-article-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
  margin-bottom: 20px; 
}

.create-article-form input[type="text"], .create-article-form textarea {
  padding: 10px;
  margin-bottom: 10px; 
  border-radius: 5px;
  width: 100%;
}
.edit-article-form input[type="text"], .edit-article-form textarea {
  padding: 10px;
  margin-bottom: 10px; 
  border-radius: 5px;
  width: 100%;
}
.article-photo {
  max-width: 100px;
  height: auto;
}
.create-article-form textarea{
  margin: 0px;
}
</style>
