<template>
    <div class="sidenav">
      <nav>
        <a href=""><button @click="goToArticls">Articles</button></a>
    <a href=""><button @click="goToShopPets">Shop Pets</button></a>    
    <a href=""><button @click="goToShopProducts">Shop Products</button></a>    
    <a href=""><button @click="goToBuildings">Buildings</button></a>
    <a href=""><button @click="goToPending">Basket</button></a>
    <a href=""><button @click="logout">Log Out</button></a>
  </nav>
    </div>
    <div class="tables">
    <div class="shopp">

            <div class="buildings">
            <button @click="showAddProduct = true">Add Building</button>
            <div v-if="showAddProduct" class="create-article-form">
                <input type="text" v-model="newProduct.name" placeholder="Name">
                <input type="text" v-model="newProduct.address" placeholder="Address">
                <input type="text" v-model="newProduct.latitude" placeholder="Latitude">
                <input type="text" v-model="newProduct.longitude" placeholder="Longitude">
                <input type="text" v-model="newProduct.capacity" placeholder="Capacity">
                <input type="text" v-model="newProduct.amenities" placeholder="Amenities">
                <input type="text" v-model="newProduct.contact_number" placeholder="Contact Number">
                <input type="text" v-model="newProduct.operating_hours" placeholder="Operating Hours">
                <input type="file" @change="onFileSelected">
                <button @click="addProduct">Add</button>
                <button @click="showAddProduct = false">Cancel</button>
                </div>


                <div v-if="showEditProductForm" class="edit-article-form">
                    <input type="text" v-model="editTableProduct.name" placeholder="Name">
                    <input type="text" v-model="editTableProduct.address" placeholder="Address">
                    <input type="text" v-model="editTableProduct.latitude" placeholder="Latitude">
                    <input type="text" v-model="editTableProduct.longitude" placeholder="Longitude">
                    <input type="text" v-model="editTableProduct.capacity" placeholder="Capacity">
                    <input type="text" v-model="editTableProduct.amenities" placeholder="Amenities">
                    <input type="text" v-model="editTableProduct.contact_number" placeholder="Contact Number">
                    <input type="text" v-model="editTableProduct.operating_hours" placeholder="Operating Hours">
                    <input type="file" @change="onFileSelected">
                <button @click="updateProduct">Save</button>
                <button @click="showEditProductForm = false">Cancel</button>
                </div>


    <table>
        <thead> 
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Capacity</th>
                <th>Amenities</th>
                <th>Contact number</th>
                <th>Operating Hours</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="product in products" :key="product.id">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.address }}</td>
                <td>{{ product.latitude }}</td>
                <td>{{ product.longitude }}</td>
                <td>{{ product.capacity }}</td>
                <td>{{ product.amenities }}</td>
                <td>{{ product.contact_number }}</td>
                <td>{{ product.operating_hours }}</td>
                <td><img :src="product.photo" alt="Product Photo" class="photo"></td>
                <td>
                    <button @click="editProduct(product)">Edit</button>
                    <button @click="deleteProduct(product.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    </div>
    
</template>

<script>
    import axios from './axios';
    
    export default {
    data() {
        return {
        products:[],
        showAddProduct: false,
        newProduct: {
            name: '',
            address: '',
            latitude: '',
            longitude: '',
            capacity: '',
            amenities: '',
            contact_number: '',
            operating_hours: '',
            building_category: null,
        },
        showEditProductForm: false,
        editTableProduct: {
            name: '',
            address: '',
            latitude: '',
            longitude: '',
            capacity: '',
            amenities: '',
            contact_number: '',
            operating_hours: '',
            building_category: null,
          },selectedFile:null,
      }
    },created() {
    this.fetchProducts(); 
    this.initializeCategory();
  },
    methods: {
      logout() {
      this.$root.logout();
      localStorage.removeItem('authToken');
      this.$router.push('/login');
    },
    goToArticls() {
      this.$router.push({ name: 'Articls' });
    },goToBuildings() {
      this.$router.push({ name: 'Buildings' });
    },beforeMount() {
    if (!localStorage.getItem('authToken')) {
      this.$router.push('/login');
    }},goToPending() {
      this.$router.push({name: 'Pending'});
    },goToShopPets() {
      this.$router.push({ name: 'ShopPets' });
    },goToShopProducts() {
      this.$router.push({ name: 'ShopProducts' });
    },goToDashboard() {
      this.$router.push({name: 'Dasboard'});
    },
    initializeCategory() {
      const categoryId = this.$route.query.id;
      this.newProduct.building_category = categoryId;
      this.editTableProduct.building_category = categoryId;
    },
    async fetchProducts(){
        const categoryId = this.$route.query.id;
        try{
            const response = await axios.get(`building/?category_id=${categoryId}`);
            this.products = response.data;
        }catch(error) {
            alert("Error");
        }
    },
    async deleteProduct(productId) {
    if (confirm('Are you sure?')) {
      try {
        await axios.delete(`https://mamyq.xyz/api/building/${productId}`);
        this.products = this.products.filter(product => product.id !== productId);
        alert('Deleted');
      } catch (error) {
        alert('Error');
      }
    }
  },

async addProduct() {
    const formData = new FormData();
    formData.append('name', this.newProduct.name);
    formData.append('address', this.newProduct.address);
    formData.append('latitude', parseFloat(this.newProduct.latitude).toFixed(6));
    formData.append('longitude', parseFloat(this.newProduct.longitude).toFixed(6)); 
    formData.append('capacity', this.newProduct.capacity);
    formData.append('amenities', this.newProduct.amenities);
    formData.append('contact_number', this.newProduct.contact_number);
    formData.append('operating_hours', this.newProduct.operating_hours);
    formData.append('building_category', this.newProduct.building_category);
    if (this.selectedFile) {
    formData.append('photo', this.selectedFile, this.selectedFile.name1);
  }

    try {
      const response = await axios.post('https://mamyq.xyz/api/building/', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      });
      this.products.unshift(response.data);
      this.showAddProduct = false;
      this.fetchProducts();
      alert('Succes');
    } catch (error) {
      console.error('error', error);
      alert('error');
    }
  },isInputValid() {
    const regex = /^\d{1,3}(\.\d+)?$/;
    return regex.test(this.newProduct.latitude) && regex.test(this.newProduct.longitude);
  },
  editProduct(product) {
    this.editTableProduct = { ...product }; 
    this.showEditProductForm = true;
  },
  async updateProduct() {
  const formData = new FormData();
    formData.append('name', this.editTableProduct.name);
    formData.append('address', this.editTableProduct.address);
    formData.append('latitude', parseFloat(this.editTableProduct.latitude).toFixed(6));
    formData.append('longitude', parseFloat(this.editTableProduct.longitude).toFixed(6));
    formData.append('capacity', this.editTableProduct.capacity);
    formData.append('amenities', this.editTableProduct.amenities);
    formData.append('contact_number', this.editTableProduct.contact_number);
    formData.append('operating_hours', this.editTableProduct.operating_hours);
    formData.append('building_category', this.editTableProduct.building_category);
    if (this.selectedFile) {
    formData.append('photo', this.selectedFile, this.selectedFile.name1);
  }

  try {
    await axios.put(`https://mamyq.xyz/api/building/${this.editTableProduct.id}`, formData, {
      headers: {
        'Content-Type': 'multipart/form-data'
      }
    });
    this.showEditProductForm = false;
    this.fetchProducts();
    alert('Succes');
  } catch (error) {
    console.error('Error', error);
    alert('Error');
  }
},  onFileSelected(event) {
    this.selectedFile = event.target.files[0];
  },
    }
    }
</script>

<style>

    img {
        width:100px;
        height: 100px;
    }
    .tables {
        margin-left: 200px;
    }
    h1 {
        margin-bottom: 0px;
    }
</style>