<template>
  <div class="sidenav">
    <nav>
        <a href=""><button @click="goToArticls">Articles</button></a>
    <a href=""><button @click="goToShopPets">Shop Pets</button></a>    
    <a href=""><button @click="goToShopProducts">Shop Products</button></a>    
    <a href=""><button @click="goToBuildings">Buildings</button></a>
    <a href=""><button @click="goToPending">Basket</button></a>
    <a href=""><button @click="logout">Log Out</button></a>
  </nav>
  </div>
  <div class="tables">
  <div class="shopp">
      <h1>Buildings</h1>
      <button @click="showAddCategory = true">Add Category</button>

      <div v-if="showAddCategory" class="addCategory">
        <input type="text" v-model = "newCategory.name" placeholder="Name">
        <input type="text" v-model = "newCategory.description" placeholder="Description">
        <button @click="createCategory">Add</button>
        <button @click="showAddCategory = false">Cancel</button>
      </div>

      <div v-if="showUpdateCategory">
        <input type="text" v-model = "editCategory.name" placeholder="Name">
        <input type="text" v-model = "editCategory.description" placeholder="Description">
        <button @click="updateCategory">Save</button>
        <button @click="showUpdateCategory = false">Cancel</button>          
      </div>


      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="category in categories" :key="category.id">
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td><Button @click="goToProducts(category.id)">Open</Button>
                <button @click="deleteCategory(category.id)">Delete</button>
                <button @click="OpenEditCategory(category)">Edit</button></td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
</template>

<script>
  import axios from './axios';
  
  export default {
  data() {
      return {
        categories: [],
        showAddCategory: false,
        newCategory: {
          name: '',
          description: '',
          status: '1',
        },
        showUpdateCategory: false,
        editCategory: {
          name: '',
          description: '',
          status: '1',
        }
    }
  },created() {
    this.fetchCategories();
},
  methods: {
    logout() {
      this.$root.logout();
      localStorage.removeItem('authToken');
      this.$router.push('/login');
    },
    goToArticls() {
      this.$router.push({ name: 'Articls' });
    },goToBuildings() {
      this.$router.push({ name: 'Buildings' });
    },beforeMount() {
    if (!localStorage.getItem('authToken')) {
      this.$router.push('/login');
    }},goToPending() {
      this.$router.push({name: 'Pending'});
    },goToShopPets() {
      this.$router.push({ name: 'ShopPets' });
    },goToShopProducts() {
      this.$router.push({ name: 'ShopProducts' });
    },
    async fetchCategories() {
    try {
      const response = await axios.get('category/');
      this.categories = response.data.filter(category => category.status === 1);
    }catch(error) {
      console.error("Error");
    }
  },async deleteCategory(categoryId) {
    if (confirm("Are you sure?") ) {
      try {
        await axios.delete(`category/${categoryId}`);
        this.categories = this.categories.filter(category => category.id !== categoryId);
        alert("Deleted");
      }catch(error) {
        console.error("Error");
        alert("Error");
      }
    }
  },async createCategory() {
    const formData = new FormData();
    formData.append('name', this.newCategory.name);
    formData.append('description', this.newCategory.description);
    formData.append('status', this.newCategory.status);

    try {
      const response = await axios.post('https://mamyq.xyz/api/category/', formData, {
        headers: {
          'Content-type' : 'multipart/form-data'
        }
      });
      this.categories.unshift(response.data);
      this.showAddCategory = false;
      alert('Succes');
    }catch(error) {
    alert("Error")
  }
  },OpenEditCategory(category) {
    this.editCategory = {...category};
    this.showUpdateCategory = true;
  },
  async updateCategory() {
    const formData = new FormData();
    formData.append('name', this.editCategory.name);
    formData.append('description', this.editCategory.description);
    formData.append('status', this.editCategory.status);

    try {
      await axios.put(`https://mamyq.xyz/api/category/${this.editCategory.id}`, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      });
      this.showUpdateCategory = false;
      alert('Succes');
    } catch (error) {
      console.error('Error', error);
      alert('Error');
    }
  },goToProducts(categoryId) {
  this.$router.push({ name: 'Buildings2', query: { id: categoryId } });
},
  
  }
  }
</script>

<style>

  img {
      width:100px;
      height: 100px;
  }
  .tables {
      margin-left: 200px;
  }
  h1 {
      margin-bottom: 0px;
  }
</style>