<template>
    <!--Nav bar-->
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container">
        <a class="navbar-brand "  href="#"><img class="logo" src="../src/assets/img/logo.png" alt="" width="146.65px" height="46.37px"><a class="text" href="">MAMYQ</a></a>
        <button class="navbar-toggler shodow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" ref="offcanvasMenu" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header text-white border-bottom">
            <a class="navbar-brand fs-20"  href="#"><img class="logo" src="../src/assets/img/logo.png" alt="" width="146.65px" height="46.37px"></a>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body nav_links">
              <ul class="navbar-nav justify-content-center flex-grow-1 pe-3 ul_nav">
                <li class="nav-item">
                  <a href="#service" class="nav-link" aria-current="page"  @click="closeOffcanvas">OUR SERVICES</a>
                </li>
                <li class="nav-item">
                  <a href="#about_us" class="nav-link" aria-current="page"  @click="closeOffcanvas">ABOUT US</a>
                </li>                
                <li class="nav-item">
                  <a href="#functions" class="nav-link" aria-current="page"  @click="closeOffcanvas">PRODUCTS</a>
                </li>
                <li class="nav-item">
                  <a href="#functions2" class="nav-link" aria-current="page"  @click="closeOffcanvas">PET CARE</a>
                </li>
                <li class="nav-item">
                  <a href="#footer" class="nav-link" aria-current="page"  @click="closeOffcanvas">CONTACT</a>
                </li>
              </ul>
            </div>   
        </div>
      </div>
    </nav>
    <!--Nav bar-->

    <div class="first_block">
      <div class="text_and_button">
      <h3>WE’RE WORKING TOWARD A WORLD WHERE EVERY ANIMAL IS TREATED WITH KINDNESS</h3>
      <button onclick="location.href='https://www.youtube.com/'">Download now ></button>
      </div>
    </div>

    <div id="service"></div>

    <div class="service_category">
      <div class="container blocks">
        <h4>Services Category</h4>
        <hr>
        <div class="row">
          <div class="col"><img src="../src/assets/img/grooming.png" alt=""><h5>Grooming</h5></div>
          <div class="col back"><img src="../src/assets/img/healthcare.png" alt=""><h5>Healthcare</h5></div>
          <div class="col"><img src="../src/assets/img/daycare.png" alt=""><h5>Daycare</h5></div>
          <div class="col back"><img src="../src/assets/img/training.png" alt=""><h5>Training</h5></div>
          <div class="col"><img src="../src/assets/img/hyginic_care.png" alt=""><h5>Hyginic care</h5></div>
        </div>  
      </div>
    </div>

    <div id="about_us"></div>

    <div class="container about_us">
      <div class="row">
        <div class="col">
          <h1><b>About Us</b> <img class="triangle" src="../src/assets/img/about_us3.png" alt=""></h1>
          <p><img class="lapa" src="../src/assets/img/lapa.png" alt="">MAMYQ is an app that contains all the useful features for pets and their owners. The only one of its kind with a magic test that determines the perfect pet for each of you.</p>
          <p> <img class="lapa" src="../src/assets/img/lapa.png" alt="">Availability of reliable information, advice from our experts for our users' pets. The idea behind our application is reducing the number of stray and helpless animals in Kazakhstan.</p>
        </div>
        <div class="col"><img class="about_us_img" src="../src/assets/img/about_us.png" alt=""></div>
      </div>
    </div>

    <div id="functions"></div>

    <div class="container functions">
      <div class="row">
        <div class="col-6 phone_1">
          <img class="phone1" src="../src/assets/img/phone1.png" alt="">
          <div class="row numbers_and_text">
            <div class="col"><img class="numbers" src="../src/assets/img/1.png" alt=""><h6>Finding the perfect pet</h6></div>
            <div class="col"><img class="numbers" src="../src/assets/img/2.png" alt=""><h6>Only reliable information and the most useful tips quickly and affordably</h6></div>
          </div>
          <div class="row numbers_and_text">
            <div class="col"><img class="numbers" src="../src/assets/img/3.png" alt=""><h6>Our services is always in touch with you</h6></div>
            <div class="col"><img class="numbers" src="../src/assets/img/4.png" alt=""><h6>Quick Buy everything your pet needs</h6></div>
          </div>
        </div>
        <div class="col-6 phone_2"><img class="phone2" src="../src/assets/img/Wood-Hand.png" alt=""></div>
      </div>
    </div>

    <div id="functions2"></div>
    
    <div class="container functions2">
      <div class="row">
        <div class="col-4 pixel">
          <img src="../src/assets/img/phone_pixel.png" alt="">
        </div>
        <div class="col-8 pixel_text">
          <ul>
            <li><h4>Comprehensive Pet Care:</h4></li>
            <li><h4>Innovative Test "The Ideal Pet for You"</h4></li>
            <li><h4>Professional Veterinary Consultations</h4></li>
            <li><h4>Various Services in One Place</h4></li>
            <li><h4>Friendly Interface</h4></li>
          </ul>
          <button onclick="location.href='https://www.youtube.com/'">Download now ></button>
        </div>
      </div>
    </div>

    <div id="get_mamyq_app" class="container get_mamyq_app">
      <div class="row">
        <div class="col get_get">
          <h1>Get <span class="mamyq_color">Mamyq</span> App</h1>
          <h4>We will send you a link, open it on your phone to download the app.</h4>

          <div class="email_send">
            <input type="radio" id="phone" name="options" value="Your Phone Number" v-model="selectedOption">
            <label for="phone">Phone</label>
            <input type="radio" id="email" name="options" value="Your Email" v-model="selectedOption">
            <label for="email">Email</label><br>
            <input type="text" :placeholder="selectedOption">
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop">Share App Link</button>
          </div>

          <div class="get_it_in">
          <h3>Download App From</h3>
          <img onclick="location.href='https://www.youtube.com/'" src="../src/assets/img/Get_it_on.png" alt="">
          </div>
        </div>
        <div class="col phone3">
          <img class="phones_3" src="../src/assets/img/3_phones.png" alt="">
        </div>
      </div>
    </div>

    <div id="qua" class="container qua_ans">
      <h1>Frequently Asked Questions</h1>

      <!--qua ans-->
      <div class="container">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Who's taking care of my pet?</button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>These are short, famous texts in English from classic sources like the Bible or Shakespeare. 
                      Some texts have word definitions and explanations to help you. Some of these texts are written in an old style of English. 
                      Try to understand them, because the English that we speak today is based on what our great, great, great, great grandparents spoke before! 
                      Of course, not all these texts were originally written in English. The Bible, for example, is a translation. But they are all well known in English today, 
                      and many of them express beautiful thoughts.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Who's taking care of my pet?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>These are short, famous texts in English from classic sources like the Bible or Shakespeare. 
                      Some texts have word definitions and explanations to help you. Some of these texts are written in an old style of English. 
                      Try to understand them, because the English that we speak today is based on what our great, great, great, great grandparents spoke before! 
                      Of course, not all these texts were originally written in English. The Bible, for example, is a translation. But they are all well known in English today, 
                      and many of them express beautiful thoughts.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Who's taking care of my pet?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>These are short, famous texts in English from classic sources like the Bible or Shakespeare. 
                      Some texts have word definitions and explanations to help you. Some of these texts are written in an old style of English. 
                      Try to understand them, because the English that we speak today is based on what our great, great, great, great grandparents spoke before! 
                      Of course, not all these texts were originally written in English. The Bible, for example, is a translation. But they are all well known in English today, 
                      and many of them express beautiful thoughts.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">                  
                    Who's taking care of my pet?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>These are short, famous texts in English from classic sources like the Bible or Shakespeare. 
                      Some texts have word definitions and explanations to help you. Some of these texts are written in an old style of English. 
                      Try to understand them, because the English that we speak today is based on what our great, great, great, great grandparents spoke before! 
                      Of course, not all these texts were originally written in English. The Bible, for example, is a translation. But they are all well known in English today, 
                      and many of them express beautiful thoughts.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFife" aria-expanded="false" aria-controls="collapseFive">
                    Who's taking care of my pet?
                  </button>
                </h2>
                <div id="collapseFife" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>These are short, famous texts in English from classic sources like the Bible or Shakespeare. 
                      Some texts have word definitions and explanations to help you. Some of these texts are written in an old style of English. 
                      Try to understand them, because the English that we speak today is based on what our great, great, great, great grandparents spoke before! 
                      Of course, not all these texts were originally written in English. The Bible, for example, is a translation. But they are all well known in English today, 
                      and many of them express beautiful thoughts.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!--qua ans end--> 
      <div id="footer" class="footer">
        <div class="container">
          <div class="submit_now">
            <h1>Subscribe to get information, latest news and other interesting offers about  Mamyq</h1>
            <div class="pole">
              <img src="../src/assets/img/email.png" alt=""><input class="input_email" type="text" placeholder="Type your email address here"><button data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit Now ></button>
            </div>
          </div> 
          <div class="row">
            <div class="col-3">
              <h3>Follow on social</h3>
              <a href=""><img class="social_img" src="../src/assets/img/tiktok.png" alt=""></a>
              <a href=""><img class="social_img" src="../src/assets/img/instagram.png" alt=""></a>
            </div>
            <div class="col-3">
              <h3>Contacts</h3>
              <h4>(777)-582-2003</h4>
              <h4>Email: info@mamyq.com</h4>
            </div>
            <div class="col-3 text_100">
              <h4>Join the Mamyq community and share the joy of caring for your pet! 🐾</h4>
            </div>
            <div class="col-3 img_none_700">
              <img onclick="location.href='https://www.youtube.com/'" class="get_it_in_img" src="../src/assets/img/Get_it_on.png" alt="">
            </div>
            <div class="dop_img">
              <img src="../src/assets/img/Get_it_on.png" alt="">
            </div>
          </div>
          <hr>
          <div class="row last_block">
            <div class="col">
              <h5>All Rights Reserved <br>Copyright © MAMYQ, 2024</h5>
            </div>
            <div class="col links">
              <a href="#service">our services</a>
              <a href="#about_us">About us </a>
              <a href="#get_mamyq_app">Shipping</a>
              <a href="#qua">FAQ</a>
              <a href="#">Contact</a>
            </div>
          </div>
        </div>
      </div>


      <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Data sent</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sent
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
</template>
  
  <script>
  export default {
    name: 'Home',
    data() {
      return {
      selectedOption: 'Change type',
    };
    },
    methods: {
  closeOffcanvas() {
    let offcanvasElement = this.$refs.offcanvasMenu;
    let bsOffcanvas = bootstrap.Offcanvas.getInstance(offcanvasElement);
    if (bsOffcanvas) {
      bsOffcanvas.hide();
    }
  }
}
 
  };
  </script>
  
  <style>
  .dop_img {
    text-align: center;
    display: none;
  }
  .dop_img img{
    width: 130px;
    height: 43px;
  }
  #service, #functions, #functions2, #about_us {
    padding-top: 50px;
  }
  .mamyq_color {
    color: #FF5A03;
  }
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;

  }
  .accordion-button {
    position:static
  }
  .ul_nav li{
    margin: 20px;
  }
  .ul_nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  .logo {
    border-radius: 50%;
    width: 55px;
    height: 55px;
  }
  .text {
    margin-left: 5px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
  }
  .first_block {
    background-image: url('../src/assets/img/block1_back.png');
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 180px;
  }
  .first_block button:hover {
    background-color: #565656;
  }
  .text_and_button {
    padding-right: 850px;
    padding-left: 100px;
  }
  .first_block button {
    background-color: #757777;
    border-radius: 5px;
    margin-top: 15px;
    padding-bottom: 10px;
  }
  .service_category h4{
    margin-left: 50px;
  }
  .service_category hr {
    width: 100px;
    border-top: 5px solid red;
    margin-left: 50px;
    opacity: 1.6;
  }
  .blocks .col{
    border: 1px solid #FFAA00;
    text-align: center;
    margin-left: 50px;
    border-radius: 25px;
    padding: 30px;
  }
  .blocks {
    margin-top: 50px;
  }
  .blocks h5 {
    margin-top: 10px;
  }
  .back {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,250,224,1) 100%);
  }
  .blocks img {
    width: 100px;
    height: 100px;
  }
  .about_us {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,181,70,1) 95%);
    border-radius: 20px;
    margin-top: 80px;
  }
  .about_us_img {
    width: 780px;
    height: 550px;
    margin-top: 30px;
  }
  .triangle {
    width: 75px;
    height: 60px;
  }
  .about_us h1 {
    margin-top: 80px;
    margin-left: 100px;
    font-size: 60px;
  }
  .lapa {
    width: 28px;
    height: 31px;
  }
  .about_us p {
    margin-left: 100px;
    margin-top: 25px;
  }
  .numbers {
    width: 48px;
    height: 65px;
    display: inline;
    vertical-align:top;
  }
  .numbers_and_text .col {
    margin-bottom: 30px;
  }
  .phone2 {
    width: 600px;
    height: 655px;
  }
  .numbers_and_text h6{
    display:inline-block;
    width: 200px;
  }
  .functions {
    margin-top: 80px;
  }
  .email_send input[type=radio] {
    display: none;
  }
  .email_send label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .email_send label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(https://snipp.ru/img/radio-1.png) 0 0 no-repeat;
  }
  .email_send input[type=radio]:checked + label:before {
    background: url(https://snipp.ru/img/radio-2.png) 0 0 no-repeat;
  }
  .email_send input[type="text"] {
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
  }
  .email_send button {
    padding: 12px;
    background-color: #FF5A03;
  }
  .email_send button:hover {
    background-color: #fe8f53;
  }
  .get_mamyq_app h4 {
    margin-bottom: 20px;
  }
  .get_mamyq_app h1 {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .get_mamyq_app img:hover {
    cursor: pointer;
  }
  .get_it_in {
    margin-top: 30px;
  }
  .get_it_in h3 {
    color: #565656;
  }
  .get_it_in img{
    width: 230px;
    height: 73px;
  }
  .get_it_in_img:hover {
    cursor: pointer;
  }
  .get_mamyq_app{
    margin-top: 80px;
  }
  .phones_3 {
    width: 540px;
    height: 585px;
  }
  .qua_ans {
    text-align: center;
    margin-top: 80px;
  }
  .qua_ans .container {
    margin-top: 30px;
  }
  .accordion-button:hover {
    background-color: #FFAA00;
  }
  .accordion-button {
    background-color: #f8d38a;
  }
  .footer {
    margin-top: 80px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,165,31,1) 95%);
    width: 100%;
    padding-top: 60px;
  }
  .social_img {
    width: 58px;
    height: 58px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .footer h4 {
    color: white;
    font-weight: lighter;
  }
  .links a{
    color: black;
    text-decoration: none;
    margin-right: 40px;
    font-weight: bold;
  }
  .last_block {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer hr {
    width: 100%;
  }
  .functions2 img{
    width: 410px;
    height: 455px;
  }
  .functions2 {
    margin-top: 100px;
  }
  .functions2 h1 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .functions2 button {
    margin-top: 50px;
    background-color: #565656;
    padding: 15px;
    color: white;
  }
  .functions2 button:hover {
    background-color: #757777;
    cursor: pointer;
  }
  .functions2 h4 {
    color: #565656;
  }
  .submit_now {
    text-align: center;
  }
  .input_email {
    width: 300px;
    border: none;
  }
  .pole {
    background-color: white;
    width: 550px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
  }
  .pole button {
    margin-left: 20px;
    background-color: #5B5B5B;
    font-size: small;
    padding: 15px;
  }
  .pole img {
    width: 30px;
    height: 22px;
    margin-bottom: 10px;
  }
  .get_it_in_img {
    width: 130px;
    height: 43px;
  }
  .footer h3, .footer h5 {
    font-size: smaller;
  }
  .footer h4 {
    font-size: medium;
  }
  .functions2 li {
    list-style: none;
  }
  .functions2 li::before {
    content: "️️️✔️";
  }
  .functions2 h4 {
    display: inline;
  }
  .functions2 button {
    margin-left: 32px;
  }
  .phone1 {
    width: 530px;
    height: 366px;
  }
  @media screen and (max-width: 1300px) {
    .phone1 {
      width: 460px;
      height: 300px;
    }
    .phone2 {
      width: 500px;
      height: 500px;
    }
    .about_us_img {
      width: 650px;
    }
    .in_functions {
      margin-right: 50px;
    }.about_us h1, .about_us p {
      margin-left: 85px;
    }
  }
  @media screen and (max-width: 1200px){
    .text_and_button {
      padding-right: 600px;
    }
    .about_us_img {
      margin-top: 20px;
      margin-left: 120px;
    }
    .about_us h1 {
      margin-top: 20px;
    }
    .phone2 {
      margin-left: 0px;
    }
    .functions{
      text-align: center;
    }
    .functions2 ul {
      margin-left: 100px;
    }
    .functions2 button {
      margin-left: 130px;
    }
    .phone_2 {
      width: 0px;
      display: none;
    }
    .phone_1 {
      width: 100%;
    }
  }
  @media screen and (max-width: 990px) {
    .text_and_button {
      padding-right: 500px;
    }
    .about_us_img {
      margin-left: 20px;
    }
    .phone_2 {
      display: none;
      width: 0%;
    }
    .phone_1 {
      width: 100%;
    }
    .phone1 {
      width: 360px;
      height: 300px;
    }
    .functions2 img {
      width: 310px;
      height: 355px;
    }
    .get_mamyq_app h1{
      margin-top: 50px;
    }
    .phones_3 {
      width: 340px;
      height: 385px;
    }
    .get_get {
      margin-right: 150px;
    }
    .phone3 {
      text-align: center;
      margin-top: 30px;
    }
  }
  @media screen and (max-width: 840px) {
    .text_and_button {
      padding-right: 400px;
    }
    .about_us_img {
      width: 450px;
      height: 350px;
    }
    .about_us {
      text-align: center;
    }
    .about_us h1, .about_us p {
      margin-left: 30px;
    }
    .footer h5 {
      font-size: 14px;
    }
    .phone1 {
      width: 500px;
    }
  }
  @media screen and (max-width: 700px) {
    .text_and_button {
      padding-right: 300px;
      padding-left: 50px;
    }
    .functions2 .pixel {
      display: none;
      width: 0%;
    }
    .pixel_text {
      width: 100%;
    }
    .pixel_text ul {
      margin: 0px;
      padding: 0px;
    }
    .pole {
      margin-right: 0px;
      margin-left: 0px;
      width: 100%;
    }
    .functions2 h1, .functions2 ul, .functions2 button {
      margin-left: 0px;
    }
    .get_mamyq_app h3 {
      margin-top: 50px;
    }
    .phones_3 {
      width: 240px;
      height: 285px;
    }
    .get_it_in_img {
      width: 0%;
      display: none;
    }
    .img_none_700 {
      width: 0px;
    }
    .text_100 {
      width: 50%;
    }
    .dop_img {
      display: block;
    }
  }
  @media screen and (max-width: 530px) {
    .text_and_button {
      padding-left: 20px;
      padding-right: 200px;
    }
    .service_category .col {
      margin-left: 5px;
    }
    .service_category h4, .service_category hr {
      margin-left: 0px;
    }
    .pole {
      margin-left: auto;
      margin-right: auto;
      width: 350px;
    }
    .pole button {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .input_email {
      margin-top: 20px;
    }
    .email_send button {
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 490px) {
    .about_us_img {
      width: 350px;
      height: 250px;
      margin: 0px;
    }
    .phone2 {
      width: 300px;
      height: 400px;
    } 
    .phone1 {
      width: 330px;
      height: 260px;
    }
    .footer h3, .footer h4 {
      font-size: 14px;
    }
    .get_mamyq_app h3 {
      margin-top: 20px;
    }
    .get_it_in_img {
      width: 80px;
      height: 20px;
    }
  }
  </style>
  