<template>
    <div class="sidenav">
      <nav>
        <a href=""><button @click="goToArticls">Articles</button></a>
    <a href=""><button @click="goToShopPets">Shop Pets</button></a>    
    <a href=""><button @click="goToShopProducts">Shop Products</button></a>    
    <a href=""><button @click="goToBuildings">Buildings</button></a>
    <a href=""><button @click="goToPending">Basket</button></a>
    <a href=""><button @click="logout">Log Out</button></a>
  </nav>
    </div>
    <div class="tables">
    <div class="shopp">

            <div class="products">
            <button @click="showAddProduct = true">Add Product</button>
            <div v-if="showAddProduct" class="create-article-form">
                <input type="text" v-model="newProduct.name" placeholder="Name">
                <textarea v-model="newProduct.short_description" placeholder="Short Description"></textarea>
                <textarea v-model="newProduct.product_info" placeholder="Product Info"></textarea>
                <input type="number" v-model="newProduct.price" placeholder="Price">
                <input type="number" v-model="newProduct.stock" placeholder="Stock">
                <input type="file" @change="onFileSelected">
                <button @click="addProduct">Add</button>
                <button @click="showAddProduct = false">Cancel</button>
                </div>


                <div v-if="showEditProductForm" class="edit-article-form">
                <input type="text" v-model="editableProduct.name" placeholder="Name">
                <textarea v-model="editableProduct.short_description" placeholder="Short Description"></textarea>
                <textarea v-model="editableProduct.product_info" placeholder="Product Info"></textarea>
                <input type="number" v-model="editableProduct.price" placeholder="Price">
                <input type="number" v-model="editableProduct.stock" placeholder="Stock">
                <input type="file" @change="onFileSelected">
                <button @click="updateProduct">Save</button>
                <button @click="showEditProductForm = false">Cancel</button>
                </div>


    <table>
        <thead> 
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Short Description</th>
                <th>Product Info</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="product in products" :key="product.id">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.short_description }}</td>
                <td>{{ product.product_info }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td><img :src="product.image" alt="Product Photo" class="photo"></td>
                <td>
                    <button @click="editProduct(product)">Edit</button>
                    <button @click="deleteProduct(product.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    </div>
    
</template>

<script>
    import axios from './axios';
    
    export default {
    data() {
        return {
        products:[],
        showAddProduct: false,
        newProduct: {
            name: '',
            short_description: '',
            product_info: '',
            price: null,
            stock: null,
            category: null,
            },
        showEditProductForm: false,
        editableProduct: {
            id: null,
            name: '',
            short_description: '',
            product_info: '',
            price: null,
            stock: null,
            category: null,
        },selectedFile: null,
      }
    },created() {
    this.fetchProducts(); 
    this.initializeCategory();
  },
    methods: {
      logout() {
      this.$root.logout();
      localStorage.removeItem('authToken');
      this.$router.push('/login');
    },
    goToArticls() {
      this.$router.push({ name: 'Articls' });
    },goToBuildings() {
      this.$router.push({ name: 'Buildings' });
    },beforeMount() {
    if (!localStorage.getItem('authToken')) {
      this.$router.push('/login');
    }},goToPending() {
      this.$router.push({name: 'Pending'});
    },goToShopPets() {
      this.$router.push({ name: 'ShopPets' });
    },goToShopProducts() {
      this.$router.push({ name: 'ShopProducts' });
    },
    initializeCategory() {
      const categoryId = this.$route.query.id;
      this.newProduct.category = categoryId;
      this.editableProduct.category = categoryId;
    },
    async fetchProducts(){
        const categoryId = this.$route.query.id;
        try{
            const response = await axios.get(`product/?id=${categoryId}`);
            this.products = response.data;
        }catch(error) {
            alert("Error");
        }
    },
    async deleteProduct(productId) {
    if (confirm('Are you sure')) {
      try {
        await axios.delete(`https://mamyq.xyz/api/product/${productId}`);
        this.products = this.products.filter(product => product.id !== productId);
        alert('Deleted');
      } catch (error) {
        alert('Error');
      }
    }
  },

async addProduct() {
    const formData = new FormData();
    formData.append('name', this.newProduct.name);
    formData.append('short_description', this.newProduct.short_description);
    formData.append('product_info', this.newProduct.product_info);
    formData.append('price', this.newProduct.price);
    formData.append('stock', this.newProduct.stock);
    formData.append('category', this.newProduct.category);
    if (this.selectedFile) {
      formData.append('image', this.selectedFile, this.selectedFile.name);
    }

    try {
      const response = await axios.post('https://mamyq.xyz/api/product/', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      });
      this.products.unshift(response.data);
      this.showAddProduct = false;
      this.fetchProducts();
      alert('Succes');
    } catch (error) {
      console.error('Error', error);
      alert('Error');
    }
  },
  editProduct(product) {
    this.editableProduct = { ...product };
    this.showEditProductForm = true;
  },
  async updateProduct() {
  const formData = new FormData();
  formData.append('name', this.editableProduct.name);
  formData.append('short_description', this.editableProduct.short_description);
  formData.append('product_info', this.editableProduct.product_info);
  formData.append('price', this.editableProduct.price);
  formData.append('stock', this.editableProduct.stock);
  formData.append('category', this.editableProduct.category);
  if (this.selectedFile) {
    formData.append('image', this.selectedFile, this.selectedFile.name);
  }
  formData.append('id', this.editableProduct.id);
  try {
    await axios.put(`https://mamyq.xyz/api/product/${this.editableProduct.id}`, formData, {
      headers: {
        'Content-Type': 'multipart/form-data'
      }
    });
    this.showEditProductForm = false;
    this.fetchProducts();
    alert('Succes');
  } catch (error) {
    console.error('Error', error);
    alert('Error');
  }
},  onFileSelected(event) {
    this.selectedFile = event.target.files[0];
  },
    }
    }
</script>

<style>

    img {
        width:100px;
        height: 100px;
    }
    .tables {
        margin-left: 200px;
    }
    h1 {
        margin-bottom: 0px;
    }
</style>