<template>
  <div class="sidenav">
    <nav>
        <a href=""><button @click="goToArticls">Articles</button></a>
    <a href=""><button @click="goToShopPets">Shop Pets</button></a>    
    <a href=""><button @click="goToShopProducts">Shop Products</button></a>    
    <a href=""><button @click="goToBuildings">Buildings</button></a>
    <a href=""><button @click="goToPending">Basket</button></a>
    <a href=""><button @click="logout">Log Out</button></a>
  </nav>
  </div>
  <div class="basket">
    <h1>Basket</h1>
    <div class="buttons">
      <button @click="goToPending">PENDING</button>
      <button @click="goToShopped">SHOPPED</button>
      <button @click="goToDelivered">DELIVERED</button>
      <button @click="goToTransmitted">TRANSMITTED</button>
    </div>
  </div>
  <div class="basket_list">
    <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Firstname</th>
              <th>Phone Number</th>
              <th>Data Ordered</th>
              <th>Total Price</th>
              <th>Action</th>
          </tr>            
      </thead>
      <tbody>
          <tr v-for="order in orders" :key="order.id">
              <td>{{ order.id }}</td>
              <td v-if="order.customer">{{ order.customer.first_name }}</td>
              <td v-if="order.customer">{{ order.customer.phone_number }}</td>
              <td>{{ order.date_ordered }}</td>
              <td>{{ order.total_price }}</td>
              <td><button @click="updateOrderStatus(order.id, 3)">Delivered</button></td>
          </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import axios from 'axios';
import axiosInstance from './axios';


export default {
  data() {
      return {
          orders: [],
      }
  },created() {
      this.fetchOrder();
  },

    methods: {
      logout() {
      this.$root.logout();
      localStorage.removeItem('authToken');
      this.$router.push('/login');
    },
    goToArticls() {
      this.$router.push({ name: 'Articls' });
    },goToBuildings() {
      this.$router.push({ name: 'Buildings' });
    },beforeMount() {
    if (!localStorage.getItem('authToken')) {
      this.$router.push('/login');
    }},goToBasket() {
      this.$router.push({name: 'Basket'});
    },goToShopPets() {
      this.$router.push({ name: 'ShopPets' });
    },goToShopProducts() {
      this.$router.push({ name: 'ShopProducts' });
    },goToPending() {
      this.$router.push({name: 'Pending'});
    },goToShopped() {
      this.$router.push({name: 'Shopped'});
    },goToDelivered() {
      this.$router.push({name: 'Delivered'});
    },goToTransmitted() {
      this.$router.push({name: 'Transmitted'});
    },async fetchOrder() {
      try {
        const response = await axiosInstance.get('basket/list/');
        this.orders = response.data.filter(order => order.status === 2);
      }catch(error) {
          console.error('Error', error);
      }
    },async updateOrderStatus(orderId, newStatus) {
  try {
    const response = await axiosInstance.put(`basket/${orderId}/change-status/`, {
      status: newStatus
    }, {
      headers: {
        'Content-Type': 'multipart/form-data'
      }
    }); 
    if (response.status === 200) {
      const orderToUpdate = this.orders.find(order => order.id === orderId);
      if (orderToUpdate) {
        orderToUpdate.status = newStatus;
        this.fetchOrder();
      }
    }
  } catch (error) {
    console.error('Error updating order status:', error);
  }
},
}
}
</script>

<style>
  .basket h1{
    margin-left: 200px;
  }
  .buttons {
    text-align: center;
    margin-left: 200px;
    margin-bottom: 50px;
  }
  .buttons button{
    margin-right: 50px;
  }
  .basket_list {
      margin-left: 200px;
  }
</style>